.S {
	font-style: normal;
	animation: b-r 5s linear infinite;
	color: red;
	text-shadow:
    	0 0 7px darkred,
    	0 0 10px darkred,
    	0 0 21px darkred,
    	0 0 42px darkred,
    	0 0 82px darkred,
    	0 0 92px darkred,
    	0 0 102px darkred,
    	0 0 151px darkred;
	
}
@keyframes b-r {
  0%, 10%, 100% {color: black}
  5%, 15%, 25% {color: red}
}
